.navbar-toggler[b-7u5ccdjjzw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7u5ccdjjzw]  a, .top-row[b-7u5ccdjjzw]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #444444; /* Un gris foncé très pro au lieu du bleu par défaut */
    font-weight: 500; /* Rend le texte juste un tout petit peu plus gras pour la lisibilité */
}

.top-row[b-7u5ccdjjzw]  a:hover, .top-row[b-7u5ccdjjzw]  .btn-link:hover {
    text-decoration: underline;
    color: #1b6ec2; /* La couleur qui apparaît quand ta souris passe dessus */
}

.navbar-brand[b-7u5ccdjjzw] {
    font-size: 1.2rem;
    color: white !important; /* Rend le texte parfaitement lisible */
    font-weight: bold; /* Met le titre en valeur */
}

.oi[b-7u5ccdjjzw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    color: inherit; /* Force l'icône à prendre la même couleur que le texte du lien */
}

.nav-item[b-7u5ccdjjzw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7u5ccdjjzw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7u5ccdjjzw] {
        padding-bottom: 1rem;
    }

  .nav-item[b-7u5ccdjjzw]  a {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-7u5ccdjjzw]  a.active {
    background-color: rgba(255, 255, 255, 0.15);
    color: white; 
}


.nav-item[b-7u5ccdjjzw]  a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7u5ccdjjzw] {
        display: none;
    }

    .collapse[b-7u5ccdjjzw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
